langchain
langchain-core
langchain_community
langchain_experimental
langgraph
langchain_openai
python-dotenv
langsmith
fastapi
python-multipart
beautifulsoup4
pydantic>=2.0.0
uvicorn
pymongo
matplotlib
pandas
plotly
numpy
langchain-groq